/* page layout */

	body, #container {
		margin: 0px;
		padding: 0px;
		border: 0px;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		font-family: Pacifico, cursive;
		background-color: lightgray;
		color: #42226d;
	}

	#container {
		background-color: transparent;
	}


	a {
		text-decoration: none;
		color: #42226d;
	}

	a:hover, a:visited, a:focus {
		text-decoration: none;
	}

	#header {
		width: 100vw;
		height: 100px;
		background: radial-gradient(#8585ad, #666699);
		font-size: 60px;
		text-align: center;
		position: absolute;
		top: 0px;
		z-index: 4;
	}

	#header img {
		border-radius: 100%;
		float: left;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	#title {
		position: absolute;
		height: 0px;
		width: 100%;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: default;
	}

	#links {
		float: right;
		font-size: 30px;
		padding: 25px;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	#links a {
		cursor: pointer;
		color: black;
	}

	#links a:hover {
		color: #337ab7;
	}

/* score */

	#score {
		width: 100px;
		height: 100px;
		font-size: 75px;
		color: darkgray;
		font-weight: bold;
		text-align: center;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		opacity: 1;
		font-family: Roboto Condensed, sans-serif;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: default;
		z-index: -1;
	}

	#reset {
		padding: auto auto;
		width: 100px;
		height: 100px;
		font-size: 65px;
		color: white;
		font-weight: bold;
		text-align: center;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 5;
		border-radius: 100%;
		opacity: 0;
		pointer-events: none;
		outline: none;
	}

	.glyphicon-refresh {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

/* table */

	#table {
		width: 600px;
		height: 200px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
	}

	#tabletop {
		width: 100%;
		height: 20px;
		border-radius: 5px;
		background-color: black;
		color: white;
		position: absolute;
		top: 0px;
		display: inline-block;
	}

	#tableLeg_left {
		width: 15px;
		height: 180px;
		background-color: #222222;
		position: absolute;
		bottom: 0px;
		left: 50px;
		display: inline-block;
	}

	#tableLeg_right {
		width: 15px;
		height: 180px;
		background-color: #222222;
		position: absolute;
		bottom: 0px;
		right: 50px;
		display: inline-block;
	}

/* cat */

	#cat {
		width: 200px;
		height: 200px;
		color: green;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 0px;
		transform: translateX(-50%) translateY(-85%);
		display: inline-block;
	}

	.flipCat {
		transform: scaleX(-1);
	}

	.line {
		background-color: black;
	}

/* cat CLIP-PATHS */
	#cat div {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0px;
		left: 0px;
		background-size: 30px auto;
		filter: blur(0.5px);
	}

	#catprofile {
		background-color:gray;
		z-index: 1;
		-webkit-clip-path: polygon(32% 28.5%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 80% 32.25%, 81.5% 32%, 83% 31%, 83.75% 29%, 84% 27%, 83.85% 25%, 83.25% 22%, 81.5% 18.5%, 80.25% 17%, 78% 15.5%, 69% 12.5%, 66% 11%, 64% 10%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 71% 7.5%, 74% 8.5%, 80% 10.5%, 83% 12%, 85% 13.25%, 86.5% 15%, 87.95% 17%, 89.25% 19.5%, 90.5% 24%, 90.75% 27%, 90.5% 30%, 90% 32%, 88.5% 40%, 88.85% 45%, 89.5% 50%, 89.5% 53%, 90% 59%, 89% 64.5%, 88% 68%, 87% 73%, 87% 75.5%, 82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 79.75% 74.5%, 76.9% 67%, 74% 58%, 62% 58%, 56% 59%, 47% 60%, 38% 60.5%, 36.5% 60%, 36.45% 65%, 33.75% 73%, 33% 76%, 31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 25.25% 68%, 24% 60%, 20.5% 54%, 18% 47%, 17.5% 42.75%, 15% 38%, 12% 34%, 10% 32.5%, 8% 31.9%,6% 31.75%, 4% 31.5%, 2.2% 30.5%, 1.5% 29%, 1.25% 27%, 1.5% 23.75%, 7% 20.15%, 9% 17%, 12% 15%, 14% 9%, 18.75% 16%, 19.5% 18%, 20.5% 21%, 22% 24%, 26.5% 28%, 32% 28.5%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 80% 32.25%, 81.5% 32%, 83% 31%, 83.75% 29%, 84% 27%, 83.85% 25%, 83.25% 22%, 81.5% 18.5%, 80.25% 17%, 78% 15.5%, 69% 12.5%, 66% 11%, 64% 10%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 71% 7.5%, 74% 8.5%, 80% 10.5%, 83% 12%, 85% 13.25%, 86.5% 15%, 87.95% 17%, 89.25% 19.5%, 90.5% 24%, 90.75% 27%, 90.5% 30%, 90% 32%, 88.5% 40%, 88.85% 45%, 89.5% 50%, 89.5% 53%, 90% 59%, 89% 64.5%, 88% 68%, 87% 73%, 87% 75.5%, 82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 79.75% 74.5%, 76.9% 67%, 74% 58%, 62% 58%, 56% 59%, 47% 60%, 40% 60.5%, 36.5% 60%, 36.45% 65%, 33.75% 73%, 33% 76%, 31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 25.25% 68%, 23.5% 60%, 20.5% 55%, 18% 48%, 17% 43.75%, 15% 39%, 12% 35%, 10% 33.5%, 8% 32.9%, 6% 32.75%, 4% 32.25%, 2.2% 30.5%, 1.5% 29%, 1.25% 27%, 1.5% 23.75%, 7% 20.15%, 9% 17%, 12% 15%, 14% 9%, 18.75% 16%, 19.5% 18%, 20.5% 21%, 22% 24%, 26.5% 28%, 79% 57%, 73% 73%, 72.5% 76%, 68% 84%, 65% 86%, 63% 86.5%, 61.75% 86.5%, 60.5% 86%, 60% 84.5%, 60% 83%, 60.5% 82%, 61% 81.5%, 63.75% 80.5%, 66.75% 73%, 65.5% 64%, 64% 56%, 35% 50%, 23.75% 69%, 20.5% 76%, 19.75% 78%, 16.75% 84%, 14.5% 85.5%, 13% 86.25%, 11% 86.5%, 9% 85.75%, 8.5% 85%, 8.5% 83%, 9% 82%, 12.5% 80%, 14.25% 75%, 16% 69%, 17.5% 61%, 18% 42%);
		clip-path: polygon(32% 28.5%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 80% 32.25%, 81.5% 32%, 83% 31%, 83.75% 29%, 84% 27%, 83.85% 25%, 83.25% 22%, 81.5% 18.5%, 80.25% 17%, 78% 15.5%, 69% 12.5%, 66% 11%, 64% 10%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 71% 7.5%, 74% 8.5%, 80% 10.5%, 83% 12%, 85% 13.25%, 86.5% 15%, 87.95% 17%, 89.25% 19.5%, 90.5% 24%, 90.75% 27%, 90.5% 30%, 90% 32%, 88.5% 40%, 88.85% 45%, 89.5% 50%, 89.5% 53%, 90% 59%, 89% 64.5%, 88% 68%, 87% 73%, 87% 75.5%, 82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 79.75% 74.5%, 76.9% 67%, 74% 58%, 62% 58%, 56% 59%, 47% 60%, 38% 60.5%, 36.5% 60%, 36.45% 65%, 33.75% 73%, 33% 76%, 31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 25.25% 68%, 24% 60%, 20.5% 54%, 18% 47%, 17.5% 42.75%, 15% 38%, 12% 34%, 10% 32.5%, 8% 31.9%,6% 31.75%, 4% 31.5%, 2.2% 30.5%, 1.5% 29%, 1.25% 27%, 1.5% 23.75%, 7% 20.15%, 9% 17%, 12% 15%, 14% 9%, 18.75% 16%, 19.5% 18%, 20.5% 21%, 22% 24%, 26.5% 28%, 32% 28.5%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 80% 32.25%, 81.5% 32%, 83% 31%, 83.75% 29%, 84% 27%, 83.85% 25%, 83.25% 22%, 81.5% 18.5%, 80.25% 17%, 78% 15.5%, 69% 12.5%, 66% 11%, 64% 10%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 71% 7.5%, 74% 8.5%, 80% 10.5%, 83% 12%, 85% 13.25%, 86.5% 15%, 87.95% 17%, 89.25% 19.5%, 90.5% 24%, 90.75% 27%, 90.5% 30%, 90% 32%, 88.5% 40%, 88.85% 45%, 89.5% 50%, 89.5% 53%, 90% 59%, 89% 64.5%, 88% 68%, 87% 73%, 87% 75.5%, 82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 79.75% 74.5%, 76.9% 67%, 74% 58%, 62% 58%, 56% 59%, 47% 60%, 40% 60.5%, 36.5% 60%, 36.45% 65%, 33.75% 73%, 33% 76%, 31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 25.25% 68%, 23.5% 60%, 20.5% 55%, 18% 48%, 17% 43.75%, 15% 39%, 12% 35%, 10% 33.5%, 8% 32.9%, 6% 32.75%, 4% 32.25%, 2.2% 30.5%, 1.5% 29%, 1.25% 27%, 1.5% 23.75%, 7% 20.15%, 9% 17%, 12% 15%, 14% 9%, 18.75% 16%, 19.5% 18%, 20.5% 21%, 22% 24%, 26.5% 28%, 79% 57%, 73% 73%, 72.5% 76%, 68% 84%, 65% 86%, 63% 86.5%, 61.75% 86.5%, 60.5% 86%, 60% 84.5%, 60% 83%, 60.5% 82%, 61% 81.5%, 63.75% 80.5%, 66.75% 73%, 65.5% 64%, 64% 56%, 35% 50%, 23.75% 69%, 20.5% 76%, 19.75% 78%, 16.75% 84%, 14.5% 85.5%, 13% 86.25%, 11% 86.5%, 9% 85.75%, 8.5% 85%, 8.5% 83%, 9% 82%, 12.5% 80%, 14.25% 75%, 16% 69%, 17.5% 61%, 18% 42%);
	}

	#catprofile_legline_front {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(25.25% 68%, 24% 60%, 20.5% 54%, 18% 47.5%, 17.5% 46.5%, 18.25% 47.75%, 20.75% 54.25%, 24.25% 60.25%);
		clip-path: polygon(25.25% 68%, 24% 60%, 20.5% 54%, 18% 47.5%, 17.5% 46.5%, 18.25% 47.75%, 20.75% 54.25%, 24.25% 60.25%);
	}

	#catprofile_legline_back {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(76.25% 64.5%, 74% 58%, 64.25% 58%, 64.5% 58%, 74.25% 58.25%, 76.25% 64.5%);
		clip-path: polygon(76.25% 64.5%, 74% 58%, 64.25% 58%, 64.5% 58%, 74.25% 58.25%, 76.25% 64.5%);
	}

	#catprofile_eye {
		background-color: white;
		z-index: 4;
		-webkit-clip-path: polygon(9.5% 19%, 9.25% 19.25%,8.75% 20%, 8.75% 21%, 10.5% 20.5%);
		clip-path: polygon(9.5% 19%, 9.25% 19.25%,8.75% 20%, 8.75% 21%, 10.5% 20.5%);
	}

	#catprofile_nose {
		z-index: 4;
		-webkit-clip-path: polygon(1.35% 26.25%, 1.5% 24%, 3% 24.5%);
		clip-path: polygon(1.35% 26.25%, 1.5% 24%, 3% 24.5%);
		background-color: #ffaa80;
	}

	#catprofile_ears {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(15.5% 18%, 15.25% 15%, 14% 9.75%, 12.5% 15.25%, 12% 15.1%, 14% 9%, 18.25% 15.25%, 16.25% 17.5%);
		clip-path: polygon(15.5% 18%, 15.25% 15%, 14% 9.75%, 12.5% 15.25%, 12% 15.1%, 14% 9%, 18.25% 15.25%, 16.25% 17.5%);
	}

	#catprofile_nose-area {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(3.5% 26%, 1.25% 27.75%, 1.5% 23.75%, 7% 20.15%, 8.5% 17.75%, 9% 17.75%, 8.5% 19.5%, 7.5% 21%, 5.75% 23%, 4.5% 25%);
		clip-path: polygon(3.5% 26%, 1.25% 27.75%, 1.5% 23.75%, 7% 20.15%, 8.5% 17.75%, 9% 17.75%, 8.5% 19.5%, 7.5% 21%, 5.75% 23%, 4.5% 25%);
	}

	#catprofile_muzzle {
		background-color: white;
		z-index: 3;
		-webkit-clip-path: polygon(1.25% 26.5%, 2% 25.75%, 2.75% 25.5%, 3.75% 25.75%, 5% 27%, 5.5% 28.75%, 5.2% 30.5%, 4.5% 30.9%, 4% 31%, 2.25% 30.5%, 1.5% 29%);
		clip-path: polygon(1.25% 26.5%, 2% 25.75%, 2.75% 25.5%, 3.75% 25.75%, 5% 27%, 5.5% 28.75%, 5.2% 30.5%, 4.5% 30.9%, 4% 31%, 2.25% 30.5%, 1.5% 29%);
	}

	#catprofile_stomach {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(74% 58%, 62% 58%, 56% 59%, 47% 60.5%, 38.5% 61%, 36.5% 61.75%, 36.55% 60.25%, 37.25% 58%, 40% 58%, 53% 56.75%,74.25% 56.5%, 74.25% 58%);
		clip-path: polygon(74% 58%, 62% 58%, 56% 59%, 47% 60.5%, 38.5% 61%, 36.5% 61.75%, 36.55% 60.25%, 37.25% 58%, 40% 58%, 53% 56.75%,74.25% 56.5%, 74.25% 58%);
	}

	#catprofile_chin {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(24.5% 62.5%, 20.5% 55%, 18% 48%, 17% 43.75%, 15% 39%, 12% 35%, 10% 33.5%, 8% 32.9%, 6% 32.75%, 4% 32.25%, 2.2% 30.5%, 3.5% 31%, 4.25% 31.1%, 5.5% 30.5%, 5.85% 30.5%, 7% 30.75%, 8% 30.95%, 9% 31.15%, 10.5% 31.5%, 13% 32.5%, 14% 33.5%, 15% 34.5%, 15.75% 35.5%, 17% 37.5%, 18.25% 39.5%, 20% 42.5%, 22% 47.5%, 23% 50.5%);
		clip-path: polygon(24.5% 62.5%, 20.5% 55%, 18% 48%, 17% 43.75%, 15% 39%, 12% 35%, 10% 33.5%, 8% 32.9%, 6% 32.75%, 4% 32.25%, 2.2% 30.5%, 3.5% 31%, 4.25% 31.1%, 5.5% 30.5%, 5.85% 30.5%, 7% 30.75%, 8% 30.95%, 9% 31.15%, 10.5% 31.5%, 13% 32.5%, 14% 33.5%, 15% 34.5%, 15.75% 35.5%, 17% 37.5%, 18.25% 39.5%, 20% 42.5%, 22% 47.5%, 23% 50.5%);
	}

	#catprofile_paw_front_right {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(13.5% 79.5%, 14.75% 79.5%, 16% 80%, 18% 81.5%, 16.75% 84%, 14.5% 85.5%, 13% 86.25%, 11% 86.5%, 9% 85.75%, 8.5% 85%, 8.5% 83%, 9% 82%, 12.25% 79.75%);
		clip-path: polygon(13.5% 79.5%, 14.75% 79.5%, 16% 80%, 18% 81.5%, 16.75% 84%, 14.5% 85.5%, 13% 86.25%, 11% 86.5%, 9% 85.75%, 8.5% 85%, 8.5% 83%, 9% 82%, 12.25% 79.75%);
	}

	#catprofile_paw_front_left {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 28% 82.25%, 29% 82.5%, 30.25% 83.25%, 31.5% 84.5%);
		clip-path: polygon(31% 87%, 29% 88.75%, 28% 89.5%, 25% 90%, 23% 89.5%, 22.5% 89%, 22% 87%, 22.75% 85%, 24% 84%, 26.5% 82.5%, 28% 82.25%, 29% 82.5%, 30.25% 83.25%, 31.5% 84.5%);
	}


	#catprofile_paw_back_right {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(68% 84%, 65% 86%, 63% 86.5%, 61.75% 86.5%, 60.5% 86%, 60% 84.5%, 60% 83%, 60.5% 82%, 61% 81.5%, 63.5% 80%, 64% 80%, 65% 79.9%, 66.5% 80%, 67.5% 80.5%, 68% 81.25%, 69% 82.25%);
	    clip-path: polygon(68% 84%, 65% 86%, 63% 86.5%, 61.75% 86.5%, 60.5% 86%, 60% 84.5%, 60% 83%, 60.5% 82%, 61% 81.5%, 63.5% 80%, 64% 80%, 65% 79.9%, 66.5% 80%, 67.5% 80.5%, 68% 81.25%, 69% 82.25%);
	}

	#catprofile_paw_back_left {
		background-color: white;
		z-index: 2;
		-webkit-clip-path: polygon(82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 80% 82.75%, 81.5% 83%, 83.5% 84.75%);
		clip-path: polygon(82.75% 87%, 81% 88.75%, 80% 89.5%, 77% 90%, 75% 89.5%, 74.5% 89%, 74% 87%, 74.75% 85%, 76% 84%, 78.5% 83%, 80% 82.75%, 81.5% 83%, 83.5% 84.75%);
	}

	#catprofile_tail {
		background-color: white;
		z-index: 2;
	    -webkit-clip-path: polygon(66.5% 10%, 64.45% 10.25%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 68% 8%, 67.5% 9.25%);
		clip-path: polygon(66.5% 10%, 64.45% 10.25%, 63% 9%, 61% 7%, 60.5% 5%, 61% 2.5%, 62.25% 2.2%, 64.5% 3%, 66% 4%, 68% 6%, 68% 8%, 67.5% 9.25%);
	}


/* yarn */

	#yarnZone {
		z-index: 3;
		width: 600px;
		height: 100vh;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}

	.yarnBall {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0px;
		border-radius: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		box-shadow: 0px 0px 20px rgba(50,50,50,0.5) inset;
		transform: rotate(0deg);
		z-index: 3;
	}

	.yarnTail {
		z-index: 2;
		width: 100px;
		height: 100px;
		position: relative;
		left: -10%;
		top: -175%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		clip-path: polygon(51% 0%, 51.5% 5%, 54.5% 28%, 55% 33%, 54.5% 38%, 47.5% 61%, 47% 66%, 47.5% 71%, 50.5% 95%, 51% 100%, 49% 100%, 48.5% 95%, 45.5% 71%, 45% 66%, 45.5% 61%, 52.5% 38%, 53% 33%, 52.5% 28%, 49.5% 5%, 49% 0%);
	}

	.yarnTail.centered {
		left: -50%;
	}

	.yarnTail.alternate {
		left: -90%;
	}

	.yarnTail[stringCycle='0'], .yarnTail[stringCycle='1'], .yarnTail[stringCycle='2'], .yarnTail[stringCycle='3'] {
		transform: scaleX(-1);
	}

	.yarnBall.onTable .yarnTail {
		display: none;
	}

/* options */
	#options {
		width: 600px;
		height: auto;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 10;
	}

	#options a {
		height: 180px;
		width: 180px;
		border-radius: 50%;
		float: left;
		box-shadow: 0 0 10px black;
		margin: 30px 10px 30px 10px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	#options a:hover {
		box-shadow: 0 0 20px black;
	}

	#options a label {
		position: relative;
		font-size: 24px;
		font-family: Roboto Condensed, sans-serif;
		bottom: -200px;
		text-align: center;
		width: 100%;
	}

/* gameOver */
	#gameOver {
		width: 300px;
		height: auto;
		position: absolute;
		top: 53%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 10;
		opacity: 0;
		text-align: center;
		display: none;
		font-family: Roboto Condensed;
	}

	#etsyLink {
		margin: 10px;
	}

/* footer */

	#footer {
		width: 100%;
		height: 25px;
		position: absolute;
		bottom: 0px;
		margin: 0px;
		padding: 0px 10px 0px 10px;
		z-index: 100;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: default;
	}
